body
{
	font-family:Calibri;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif, Segoe UI;
		 font-size:0.75em; margin:0px; padding:0px;

	background:url(gradient.jpg) no-repeat;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


ul#menu2 li {
    display: inline;
	margin-top:10%;
	
}

ul#menu2 li a 
{
    margin-top:10%;
    color: grey;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu2 li a:hover {
    color: red;
}

.class1
{
	
    min-height: auto;
	
    background-attachment: fixed;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
	margin:auto;
	padding:auto;
	
}

.class2
{
    background-image: url("bckb.jpg");
	background-color:white;
	margin:auto;
	width:90%;
	
    min-height: 500px;
    background-attachment: fixed;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.class3
{
	
    margin:auto;
	padding:auto;
	width:95%;
	background-color:#eeeeee;
    min-height: 200px;
    background-attachment: fixed;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.class4
{
    background-image: url("bck1.1.png");
	
    min-height: auto;
    background-attachment: fixed;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
	margin:auto;
	padding:auto;
}
.class5
{
    width:90%;
	background-color:white;
    
    background-attachment: fixed;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
	margin:auto;
	padding-bottom:1%;
}
.class6
{
    color:white;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
	margin:auto;
	
}


  #footer .col-sm-6{
      text-align:center;
  }
  
  
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  
}

#footer a {
  color: #fff;
  
}

#footer a:hover {
  color: #c52d2f;
}

#footer ul {
  list-style: none;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}
  .col-sm-6{
      text-align:center;
  }
 #style5
 {
	 
	 margin-left:2.5%;
 }
 
 #style6
 {
	 margin-left:84%;
	 border-radius:4em;
 }
#style3
{
	    text-decoration: none;

}
#style7
{
	
	background-color:white;
}
#style8
{
	background-color:white;
	
}
#style9
{
	margin-bottom:2%;
	
}
#style9 a
{
	text-decoration:none;
}

h3
{
	color:black;
	vertical-align: text-top;
}
input.submit-button {
    background:url("search1.png") no-repeat;
    background-size: 50px 40px;
    border:black;
    height:33px;
    width:39px;
    position:absolute;
    
    bottom:584px;
    cursor:pointer;
 
}
#style11
{
	margin-left:7%;
}
#slideshow
{
	padding-bottom:5%;
}
#style1
{
	margin-right:auto;
}
		#lastmenu
		{
			border-top-right-radius:9em; padding-right:100px;float:left;
		}
		#topmenu
		{
			border-top-left-radius:9em;float:left; 
		}
		ul#menu li {
    display: inline;
	float:left;
	
}


ul#menu li a {
    background-color: #4D4D4D;
    color: #E5E5E5;
	
    padding: 10px 44px;
    text-decoration: none;
    
}

ul#menu li a:hover {
    background-color: #E5E5E5;
	color: #4D4D4D;
}

#style11
{
	margin-left:63px;
	
	margin-top:20px;
}
